header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.924);
  box-shadow: 0 1.4px 20px rgba(104, 103, 103, 0.114);
  backdrop-filter: blur(10px);
}
.logo {
  width: 150px;
  mix-blend-mode: multiply;
}
nav {
  display: flex;
  margin-top: 10px;
  list-style: none;
  gap: 20px;
  color: #4b5563;
  font-size: 18px;
}
nav li {
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-right button {
  background: transparent;
  font-size: 15px;
  color: #4b5563;
  border: 1px solid #f95017;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.nav-right button:hover {
  background-color: #f95017;
  color: white;
}
.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #f95017;
}
.navbar-search-icon {
  position: relative;
  cursor: pointer;
}
.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
  background-color: #f95017;
  top: -8px;
  right: -8px;
}
.icon {
  width: 25px;
}
/* Media Query:
- sm, mobile: 750px
- md, tablet: 900px
- lg, desktop: 1200px
- xl, ultra-wide: 1440px
*/
/* For any above 1024 (xl+) */
@media (min-width: 1200px) {
  header .logo {
    width: 190px;
  }
  nav {
    gap: 25px;
    font-size: 22px;
  }
  .navbar-right {
    gap: 40px;
  }
  .icon {
    width: 30px;
  }
  .nav-right button {
    padding: 10px 35px;
    font-size: 18px;
  }
}
/* For Desktop: 1200px (lg) */
@media (max-width: 1200px) {
  header .logo {
    width: 150px;
  }
  nav {
    gap: 20px;
    font-size: 18px;
  }
  .navbar-right {
    gap: 30px;
  }
  .icon {
    width: 25px;
  }
  .nav-right button {
    padding: 10px 30px;
    font-size: 15px;
  }
}
/* For tablet: 900px (md) */
@media (max-width: 900px) {
  header .logo {
    width: 120px;
  }
  nav {
    gap: 20px;
    font-size: 18px;
  }
  .nav-right {
    gap: 20px;
  }
  .icon {
    width: 21px;
  }
  .nav-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
/* For mobile: 750px (sm) */
@media (max-width: 750px) {
  nav {
    display: none;
  }
  .nav-right {
    gap: 17px;
  }
}
