header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  /* min-height: 100vh; */
  width: 90%;
  margin: auto;
}
.logo {
  width: 150px;
  mix-blend-mode: multiply;
}
nav {
  display: flex;
  margin-top: 10px;
  list-style: none;
  gap: 20px;
  color: #4b5563;
  font-size: 18px;
}
nav li {
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-right button {
  background: transparent;
  font-size: 15px;
  color: #4b5563;
  border: 1px solid #f95017;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.nav-right button:hover {
  background-color: #f95017;
  color: white;
}
.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #f95017;
}
.navbar-search-icon {
  position: relative;
  cursor: pointer;
}
.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
  background-color: #f95017;
  top: -8px;
  right: -8px;
}
.icon {
  width: 25px;
}
