.header-banner {
  height: 40vw;
  margin: 30px auto;
  background: url("/header_img_blur.png") no-repeat;
  position: relative;
  background-size: contain;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 15%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.header-contents p {
  color: white;
  font-size: 1vw;
}
.header-contents button {
  border: none;
  color: #4b5563;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
/* Media Query:
- sm, mobile: 750px
- md, tablet: 900px
- lg, desktop: 1200px
- xl, ultra-wide: 1440px
*/
@media (max-width: 1200px) {
  .header-banner {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 55%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    margin-top: 2vw;
  }
}
